In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('whitegrid')

import warnings
warnings.filterwarnings('ignore')

In [5]:
diabetes_dataset = pd.read_csv('pima-indians-diabetes.data',header=None)

In [6]:
diabetes_dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [7]:
#use name file supplied with dataset to set the columns
column_names = ['NO OF TIMES PREGNANT','GLUCOSE','BP','SKIN','INSULIN','BMI','PEDIGREE','AGE','LABEL']

In [8]:
diabetes_dataset=pd.read_csv('pima-indians-diabetes.data',header=None, names=column_names)

In [10]:
diabetes_dataset.head()

,NO OF TIMES PREGNANT,GLUCOSE,BP,SKIN,INSULIN,BMI,PEDIGREE,AGE,LABEL
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
diabetes_dataset.shape

(768, 9)

In [12]:
x_feature= ['NO OF TIMES PREGNANT','GLUCOSE','BP','SKIN','INSULIN','BMI','PEDIGREE','AGE']

In [13]:
x_feature_2=diabetes_dataset[x_feature]

In [14]:
y_target = ['LABEL']

In [15]:
y_target_2 =diabetes_dataset[y_target]

In [16]:
x_feature_2.shape

(768, 8)

In [17]:
y_target_2.shape

(768, 1)

#import the train test split 
#75% training data, 25% testing data

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_feature_2,y_target_2,random_state=1)

#import the logistic regression model to train and test data

In [19]:
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression()

MAKE PREDICTIONS FOR THE TESTING SET

In [23]:
y_pred= logreg.predict(x_test)

CHECK FOR ACCURACY

In [29]:
from sklearn import metrics
print (metrics.accuracy_score(y_test,y_pred))

0.7760416666666666