<a href="https://colab.research.google.com/github/Abiodun70/Abiodun-projects/blob/main/STAGE_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/Data_for_UCI_named.csv')

In [ ]:
df.head(5)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [ ]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [ ]:
df = df.drop(['stab'], axis = 1)

In [ ]:
df.columns

Index(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2',
       'g3', 'g4', 'stabf'],
      dtype='object')

In [ ]:
df['tau1'] = df['tau1'].round(decimals = 2)
df['tau2'] = df['tau2'].round(decimals = 2)
df['tau3'] = df['tau3'].round(decimals = 2)
df['tau4'] = df['tau4'].round(decimals = 2)
df['p1'] = df['p1'].round(decimals = 2)
df['p2'] = df['p2'].round(decimals = 2)
df['p3'] = df['p3'].round(decimals = 2)
df['p4'] = df['p4'].round(decimals = 2)
df['g1'] = df['g1'].round(decimals = 2)
df['g2'] = df['g2'].round(decimals = 2)
df['g3'] = df['g3'].round(decimals = 2)
df['g4'] = df['g4'].round(decimals = 2)

In [ ]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.249978,5.249998,5.250013,5.250002,3.750053,-1.250007,-1.249988,-1.249997,0.524999,0.525003,0.525003,0.525004
std,2.742542,2.742545,2.742587,2.742572,0.752156,0.433061,0.433060,0.433063,0.274282,0.274284,0.274281,0.274280
min,0.500000,0.500000,0.500000,0.500000,1.580000,-2.000000,-2.000000,-2.000000,0.050000,0.050000,0.050000,0.050000
25%,2.877500,2.877500,2.877500,2.877500,3.220000,-1.622500,-1.622500,-1.622500,0.290000,0.290000,0.290000,0.290000
50%,5.250000,5.250000,5.250000,5.250000,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000
75%,7.622500,7.622500,7.622500,7.622500,4.280000,-0.877500,-0.877500,-0.877500,0.760000,0.760000,0.760000,0.760000
max,10.000000,10.000000,10.000000,10.000000,5.860000,-0.500000,-0.500000,-0.500000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.stabf = df.stabf.replace({"unstable":0, "stable":1})

In [ ]:
#feature selection
x = df.drop('stabf', axis =1)
y = df.stabf

In [ ]:
y = df['stabf']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 1)
#resetting all index
x_train = x_train.reset_index(drop = True)
x_test = x_test.reset_index(drop = True)
y_train = y_train.reset_index(drop = True)
y_test = y_test.reset_index(drop = True)

In [ ]:
#transforming the x_train and x_test
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled_train= scaler.fit_transform(x_train)
x_scaled_test = scaler.transform(x_test)

x_normalized_train =pd.DataFrame(x_scaled_train, columns = x_train.columns)
x_normalized_test =pd.DataFrame(x_scaled_test, columns = x_test.columns)

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(x_normalized_train, y_train)
new_predictions = log_reg.predict(x_normalized_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rc = RandomForestClassifier(random_state = 1)
rc.fit(x_normalized_train, y_train)
rc_pred = rc.predict(x_normalized_test)
print(classification_report(y_test, rc_pred, digits = 4))

              precision    recall  f1-score   support

           0     0.9306    0.9573    0.9437      1288
           1     0.9185    0.8708    0.8940       712

    accuracy                         0.9265      2000
   macro avg     0.9245    0.9140    0.9189      2000
weighted avg     0.9263    0.9265    0.9260      2000

In [ ]:
#xgboost using gradient boosting
from xgboost import XGBClassifier
xgb = XGBClassifier(max_depth= 3, learning_rate= 0.1, random_state = 1)
xgb.fit(x_normalized_train, y_train)
xgb_pred = xgb.predict(x_normalized_test)
print(classification_report(y_test, xgb_pred, digits = 4))

              precision    recall  f1-score   support

           0     0.9176    0.9596    0.9381      1288
           1     0.9204    0.8441    0.8806       712

    accuracy                         0.9185      2000
   macro avg     0.9190    0.9019    0.9094      2000
weighted avg     0.9186    0.9185    0.9177      2000

In [ ]:
#lightgbm
from lightgbm import LGBMClassifier
light = LGBMClassifier(random_state = 1)
light.fit(x_normalized_train, y_train)
light_pred = light.predict(x_normalized_test)
print(classification_report(y_test, light_pred, digits = 4))

              precision    recall  f1-score   support

           0     0.9449    0.9589    0.9518      1288
           1     0.9235    0.8989    0.9110       712

    accuracy                         0.9375      2000
   macro avg     0.9342    0.9289    0.9314      2000
weighted avg     0.9373    0.9375    0.9373      2000

In [ ]:
n_estimators = [50, 100, 300, 500, 1000]
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None] 
hyperparameter_grid = {'n_estimators': n_estimators,
                       'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import ExtraTreesClassifier
tree = ExtraTreesClassifier(random_state = 1)
rscv = RandomizedSearchCV(tree, hyperparameter_grid, cv = 5, n_iter = 10, scoring = 'accuracy', n_jobs = -1, verbose = 1, random_state=1)
rscv.fit(x_normalized_train, y_train)
rscv_pred = rscv.predict(x_normalized_test)
print(classification_report(y_test, rscv_pred, digits=4))
bt_params = rscv.best_params_
bt_params

Fitting 5 folds for each of 10 candidates, totalling 50 fits
              precision    recall  f1-score   support

           0     0.9293    0.9589    0.9438      1288
           1     0.9210    0.8680    0.8937       712

    accuracy                         0.9265      2000
   macro avg     0.9251    0.9134    0.9188      2000
weighted avg     0.9263    0.9265    0.9260      2000

{'max_features': None,
 'min_samples_leaf': 8,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [ ]:
#extra tree classifier
from sklearn.ensemble import ExtraTreesClassifier
tree = ExtraTreesClassifier(random_state = 1)
tree.fit(x_normalized_train, y_train)
tree_pred = tree.predict(x_normalized_test)
print(classification_report(y_test, tree_pred, digits = 4))

              precision    recall  f1-score   support

           0     0.9147    0.9736    0.9432      1288
           1     0.9459    0.8357    0.8874       712

    accuracy                         0.9245      2000
   macro avg     0.9303    0.9046    0.9153      2000
weighted avg     0.9258    0.9245    0.9233      2000

In [ ]:
tree_new = ExtraTreesClassifier(random_state = 1)
tree_new.fit(x_normalized_train, y_train)
rscv_new = RandomizedSearchCV(tree_new, hyperparameter_grid, random_state=1)
rscv_new.fit(x_normalized_train, y_train)
rscv_pred_new = rscv_new.predict(x_normalized_test)
print(classification_report(y_test, rscv_pred_new, digits=4))

              precision    recall  f1-score   support

           0     0.9293    0.9589    0.9438      1288
           1     0.9210    0.8680    0.8937       712

    accuracy                         0.9265      2000
   macro avg     0.9251    0.9134    0.9188      2000
weighted avg     0.9263    0.9265    0.9260      2000

In [ ]:
feature = tree_new.feature_importances_
feature_importance = feature.reshape(1,12)
features = pd.DataFrame(feature_importance, columns = x_train.columns, index=['features'])
features

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
features,0.117754,0.117004,0.114477,0.115409,0.040365,0.040591,0.04083,0.040313,0.089098,0.093454,0.096243,0.094463